<strong> Hello, {{organizer}} </strong>

<p> Your have a new subscriber</p>

<p>
  <strong>Meetup Title:</strong> {{title}}
  </br>
  <strong> Meetup date:</strong> {{date}}
  </br>
  </br>
  <strong>Subscriber name:</strong> {{subscriber}}
  </br>
  <strong>Subscriber email:</strong> {{subMail}}

  {{!-- <p> total subs atm: {{totalSubs}} </p> --}}

</p>

